<!DOCTYPE html>
<html lang="zh-Hans-CN">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>管理后台 | 网站内容管理平台</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="__ADMIN__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__ADMIN__/css/fontawesome.all.css">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="__VENDOR__/chocolat/css/chocolat.css">
    <link rel="stylesheet" href="__VENDOR__/daterangepicker/css/daterangepicker.css">
    <link rel="stylesheet" href="__VENDOR__/summernote/summernote-bs4.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="__ADMIN__/css/style.css">
    <link rel="stylesheet" href="__ADMIN__/css/components.css">
</head>

<body>
