<div class="main-sidebar">
    <aside id="sidebar-wrapper">

        <ul class="sidebar-menu">
            <li class="menu-header">Brand</li>
            <li  class="images-li"><a class="nav-link" href="{:url('Brand/index')}"><i class="fas fa-images"></i> <span>品牌管理</span></a></li>

            <li class="menu-header">Series</li>
            <li  class="abouts-li"><a class="nav-link" href="{:url('Series/index')}"><i class="fas fa-sitemap"></i> <span>系列管理</span></a></li>

            <li class="menu-header">Product</li>
            <li  class="partners-li"><a class="nav-link" href="{:url('Product/index')}"><i class="fas fa-hands-helping"></i> <span>产品管理</span></a></li>

            <li class="menu-header">News</li>
            <li  class="news-li"><a class="nav-link" href="{:url('News/index')}"><i class="far fa-newspaper"></i> <span>新闻资讯管理</span></a></li>
        </ul>
    </aside>
</div>
