{include file="public:header"}

<div id="app">
    <div class="main-wrapper">
        <div class="navbar-bg"></div>
        <nav class="navbar navbar-expand-lg main-navbar">
            <form class="form-inline mr-auto">
                <ul class="navbar-nav mr-3">
                    <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
                    <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
                </ul>
            </form>
            <ul class="navbar-nav navbar-right">
                <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                        <img alt="image" src="__ADMIN__/img/avatar/avatar-1.png" class="rounded-circle mr-1">
                        <div class="d-sm-none d-lg-inline-block">{$Think.session.admin.username}</div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="{:url('User/detail', ['id' => $Think.session.admin.id])}" class="dropdown-item has-icon">
                            <i class="far fa-user"></i> 个人中心
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="javascript:;" class="dropdown-item has-icon text-danger logout">
                            <i class="fas fa-sign-out-alt"></i> 退出登录
                        </a>
                    </div>
                </li>
            </ul>
        </nav>

        {include file="public:menu"}

        <div class="main-content">
            <section class="section">
                {block name="content"}{/block}
            </section>
        </div>
        <footer class="main-footer">
        </footer>
    </div>
</div>

{include file="public:footer"}

{block name="extend-script"}{/block}
