{extend name="public:template" /}

{block name="content"}
<div class="section-header">
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="{:url('Index/index')}">控制台</a></div>
        <div class="breadcrumb-item">品牌管理</div>
    </div>
</div>

<div class="section-body">
    <h2 class="section-title">品牌管理</h2>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">

                    
                    <div class="card-header-form ml-auto">
                        <a href="{:url('Brand/detail')}" class="btn btn-icon icon-left btn-primary"><i class="far fa-edit"></i> 创建</a>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-md">
                            <tr>
                                <th width="30">#</th>
                                <th width="300">名称</th>
                                <th>封面</th>
                                <th width="200">操作</th>
                            </tr>
                            {volist name="data" id="vo" key="key"}
                            <tr>
                                <td>{$key}</td>
                                <td>{$vo.name}</td>
                                <td>
                                    <div class="chocolat-parent">
                                        <a class="chocolat-image" href="__UPLOAD__/{$vo.cover}" title="{$vo.name}">
                                            <img width="100" src="__UPLOAD__/{$vo.cover}" />
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <a href="{:url('Brand/detail', ['id' => $vo.id])}" class="btn btn-icon icon-left btn-primary mr-3"><i class="far fa-edit"></i> 编辑</a>
                                    <a href="javascript:;" class="btn btn-icon icon-left btn-danger" onclick="delImage('{$vo.id}')"><i class="fas fa-times"></i> 删除</a>
                                </td>
                            </tr>
                            {/volist}
                        </table>
                    </div>
                </div>

                <div class="card-footer text-right">
                    <nav class="d-inline-block">
                        {$data|raw}
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}


{block name="extend-script"}
<script type="text/javascript">
function delImage(id) {
    swal({
        title: '确定删除该数据？',
        icon: 'warning',
        buttons: ['取消', '确认'],
        dangerMode: true,
    })
    .then((willDelete) => {
        if (! willDelete)
            return;

        $.ajax({
            url: "{:url('Brand/destroy')}",
            method: 'post',
            data: {id: id},
            dataType: 'json',
            success(res) {
                if (res.success === true) {
                    swal('操作成功', {buttons: false, icon: 'success'});
                    setTimeout(function () { location.reload() }, 1500)
                }
                if (res.success === false) swal('出现错误', res.err_msg, 'error');
            }
        })
    });
}
</script>
{/block}
