<!-- 底部 -->
<div class="bottom_view">
    <div class="bottom_view_content bottom_view_content_left"></div>
    <div class="bottom_view_content bottom_view_content_center"></div>
    <div class="bottom_view_content bottom_view_content_right"></div>
</div>
</div>

<!-- 弹窗 -->
<div id="scroll_tanchuang_id" class="scroll_tanchuang">
    <!-- <div class="tanchuang_bg"> -->
        <!-- 左边文字视频 -->
        <!-- <div class="tanchuang_bg_left_view">
            <div id="tanchuang_title" class="tanchuang_title_c"></div>
            <div class="tanchuang_video_view">
                <video class="tanchuang_video" controls src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" poster="images/video_cover.jpg"></video>
            </div>
            <div class="tanchuang_left_dec">
                ods ifjo iaods ifjo iafiausfis udigsfygu idfsygiufydsigsydf fydguisfgy g ydgisfuygfsdg  udgs ygiuyd d g uydfgydfygudfgdfgdsgfdfg dgfdods ifjo iafiausfis udigsfygu idfsygiufydsig dufgy sydf fydguisfgy g ydgisfuygfsdg  udgs ygiuyd d g uydfgydfygudfgdfgdsgfdfg dgfdfiausfis udigsfygu idfsygiufydsig dufgy sydf fydguisfgy g ydgisfuygfsdg  udgs ygiuyd d g uydfgydfygudfgdfgdsgfdfg dgfdods ifjo iafiausfis udigsfygu idfsygiufydsig dufgy sydf fydguisfgy g ydgisfuygfsdg  udgs ygiuyd d g uydfgydfygudfgdfgdsgfdfg dgfdods ifjo iafiausfis udigsfygu idfsygiufydsig dufgy sydf fydguisfgy g ydgisfuygfsdg  udgs ygiuyd d g uydfgydfygudfgdfgdsgfdfg dgfdods ifjo iafiausfis udigsfygu idfsygiufydsig dufgy sydf fydguisfgy g ydgisfuygfsdg  udgs ygiuyd d g uydfgydfygudfgdfgdsgfdfg dgfdods ifjo iafiausfis udigsfygu idfsygiufydsig dufgy sydf fydguisfgy g ydgisfuygfsdg  udgs ygiuyd d g uydfgydfygudfgdfgdsgfdfg dgfd
            </div>
            <div class="background tanchuang_close_button close_btn">Close</div>
        </div> -->

        <!-- 右边图片 -->
        <!-- <div class="tanchuang_bg_right_view">
            <div class="tanchuang_bg_right_view_max_image tanchuang_max_image">
                <div class="tanchuang_bg_right_view_max_image_pre tanchuang_image_pre"></div>
                <div class="tanchuang_bg_right_view_max_image_next tanchuang_image_next"></div>
            </div>
            <div class="tanchuang_bg_right_view_min_image_view">
                <div style="height: 100%;width: 100%;" >
                    <div style="display: flex;flex-direction: row;overflow-x: auto;height: 100%;">
                        <div class="tanchuang_bg_right_view_min_image_1 tanchuang_image_1" style=" background: url(/sg/3.jpg) no-repeat top center / auto 85%;"></div>
                        <div class="tanchuang_bg_right_view_min_image_1 tanchuang_image_1"></div>
                        <div class="tanchuang_bg_right_view_min_image_1 tanchuang_image_1"></div>
                        <div class="tanchuang_bg_right_view_min_image_1 tanchuang_image_1"></div>
                        <div class="tanchuang_bg_right_view_min_image_1 tanchuang_image_1"></div>
                        <div class="tanchuang_bg_right_view_min_image_1 tanchuang_image_1"></div>
                        <div class="tanchuang_bg_right_view_min_image_1 tanchuang_image_1"></div>
                        <div class="tanchuang_bg_right_view_min_image_1 tanchuang_image_1"></div>
                        <div class="tanchuang_bg_right_view_min_image_1 tanchuang_image_1"></div>
                        <div class="tanchuang_bg_right_view_min_image_1 tanchuang_image_1"></div>
                        <div class="tanchuang_bg_right_view_min_image_1 tanchuang_image_1"></div>
                    </div>
                   
                </div>
            </div>
        </div> -->
    </div>
</div>

<!-- 轮播图 -->
<div id="scroll_tanchuang_image_id" class="scroll_tanchuang_image">
    <!-- <div class="scroll_tanchuang_image_bg scroll_bg">
        <div class="tanchuang_image_close scroll_closeBtn"></div>
        <div class="tanchuang_image_bg_right_view_image_pre tanchuang_scroll_image_pre"></div>
        <div class="tanchuang_image_bg_right_view_image_next tanchuang_scroll_image_next"></div>
        <div class="tanchuang_title_bg_right_view">
            <div id="scroll_image_title" class="tanchuang_title_bg_right_view_title">Spangles</div>
            <div id="scroll_image_current" class="tanchuang_title_bg_right_view_r_title">1/5</div>
        </div>
    </div> -->
</div>
</div>
</body>

<script src="__INDEX__/js/zepto.min.js"></script>
<script src="__INDEX__/js/index.js"></script>
<script>

</script>
</html>